.z-yueEllipsis {
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.z-yueEllipsis.display-block {
  display: block;
}
.z-yueEllipsis.no-full {
  width: auto;
  max-width: 100%;
}
